<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ejwa.milliorm.test" android:versionCode="1" android:versionName="0.0.1">
        <application android:debuggable="true">
                <uses-library android:name="android.test.runner" />
        </application>
        <instrumentation android:targetPackage="com.ejwa.milliorm.test"
                         android:name="android.test.InstrumentationTestRunner" />
</manifest>
